body {
	text-align: center;
}

a {
	text-decoration: none;
	color: #2274ff;
}

a:hover {
	color: #68a9ee;
}

.left-align {
	text-align: left;
}

	 /* Additional styles can be added here or in the external stylesheet */
 .right-align {
	 text-align: right;
 }
.center-align {
	text-align: center;
}
.topnav input[type="text"] {
	padding: 10px;
	margin-right: 10px;
}
table {
	width: 100%;
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
}
th, td {
	padding: 10px;
}

.homepage-nav {
	width: 100%; /* Makes sure the container spans the full width of its parent or the page */
	margin: 10px 0; /* Some top and bottom margin for spacing */
	padding: 5px 0; /* Some padding for appearance */
}

.homepage-nav a {
	margin-right: 30px; /* Adjusts the space between the links */
	padding: 5px 10px; /* Some padding for appearance */
	display: inline-block; /* Ensures that the padding is applied correctly */
}

.homepage-nav a:hover {
	background-color: #e6f2ff;
	border-radius: 5px;
}

body > div.centeredMain {
	position: relative;
	display: inline-flex;
	flex-direction: column;
}

body > div.centeredMain > div.logoutPanel {
	position: relative;
	top: 50px;
	text-align: right;
}

body > div.centeredMain > div.centeredMainBlock {
	position: relative;
	display: inline-flex;
	flex-direction: column;
}

body > div.centeredMain > div.centeredMainBlockInline {
	position: relative;
	margin-bottom: 200px;
	display: inline-flex;
	flex-direction: row;
}

body > div.centeredMain > div.logoutPanel > a.backHomepage {
	float: left;
}

body > div.centeredMain > div.centeredMainBlockInline > div {
	margin-right: 75px;
}

body > div.centeredMain > div.centeredMainBlockInline > div:last-child {
	margin-right: 0px;
}

body > div.centeredMain > div.centeredMainBlockInline > div.infoBox {
	display: inline-flex;
	flex-direction: column;
	text-align: left;
}

body > div.centeredMain > div.centeredMainBlockInline > div.infoBox > table.infoTable {
	display: inline-block;
	border: none;
}

body > div.centeredMain > div.centeredMainBlockInline > div.infoBox > table.infoTable tr td {
	border: none;
	text-align: left;
}

body > div.centeredMain > div.centeredMainBlockInline > div.transfers {
	display: inline-flex;
	flex-direction: column;
}

body > div.centeredMain > div.centeredMainBlockInline > div.transfers > div.ingoingTransfers, body > div.centeredMain > div.centeredMainBlockInline > div.transfers > div.outgoingTransfers {
	display: block;
}

body > div.centeredMain > div.centeredMainBlockInline > div.transfersFormBlock {
	width: 300px;
	display: block;
}

body > div.centeredMain > div.centeredMainBlockInline > div.transfers > div.ingoingTransfers > div.pageNumbers, body > div.centeredMain > div.centeredMainBlockInline > div.transfers > div.outgoingTransfers > div.pageNumbers {
	margin-top: 10px;
	text-align: right;
}

body > div.centeredMain > div.centeredMainBlock > form, body > div.centeredMain > div.centeredMainBlockInline form {
	display: inline-flex;
	flex-direction: column;
}

body > div.centeredMain > div.centeredMainBlock > form input, body > div.centeredMain > div.centeredMainBlockInline form input {
	margin-top: 5px;
	display: block;
}

body > div.centeredMain > div.centeredMainBlock > form p, body > div.centeredMain > div.centeredMainBlockInline form p {
	text-align: justify;
}

body > div.centeredMain > div.centeredMainBlock > h2, body > div.centeredMain > div.centeredMainBlockInline h2 {
	text-align: left;
}

body > div.centeredMain > div.centeredMainBlockInline > div.accountOwned > table.moneyTable, body > div.centeredMain > div.centeredMainBlockInline table.moneyTable, body > div.centeredMain > div.centeredMainBlock table.moneyTable {
	border-collapse: collapse;
	border: 1px solid #000000;
	align-self: center;
}

body > div.centeredMain > div.centeredMainBlockInline > div.accountOwned > table.moneyTable th, body > div.centeredMain > div.centeredMainBlockInline > div.accountOwned > table.moneyTable td, body > div.centeredMain > div.centeredMainBlockInline table.moneyTable th, body > div.centeredMain > div.centeredMainBlockInline table.moneyTable td, body > div.centeredMain > div.centeredMainBlock table.moneyTable th, body > div.centeredMain > div.centeredMainBlock table.moneyTable td {
	width: 150px;
	padding: 5px 10px 5px 10px;
	border-collapse: collapse;
	border: 1px solid #000000;
}

body > div.centeredMain > div.centeredMainBlockInline table.moneyTable th.reason, body > div.centeredMain > div.centeredMainBlockInline table.moneyTable td.reason {
	width: 250px;
	word-wrap: break-word;
}

body > div.centeredMain > div.centeredMainBlockInline > div.successPage table.moneyTable th {
	text-align: center;
}

body > div.centeredMain > div.centeredMainBlockInline > div.accountOwned > table.moneyTable td, body > div.centeredMain > div.centeredMainBlockInline table.moneyTable td, body > div.centeredMain > div.centeredMainBlock table.moneyTable td {
	text-align: right;
}

body > div.centeredMain > div.centeredMainBlockInline > div.accountOwned > table.moneyTable td:first-child, body > div.centeredMain > div.centeredMainBlockInline table.moneyTable td:first-child, body > div.centeredMain > div.centeredMainBlock table.moneyTable td:first-child {
	text-align: center;
}

body > div.centeredMain > div.failPage, body > div.centeredMain > div.successPage {
	text-align: left;
}

body > div.centeredMain > div.failPage > p, body > div.centeredMain > div.successPage > p {
	margin-bottom: 5px;
}

body > div.centeredMain > div.failPage > ol {
	margin-top: 0px;
}

body > div.centeredMain > div.successPage > table {
	margin-top: 15px;
	margin-bottom: 15px;
}

body > div.centeredMain > div.errorPage {
	text-align: left;
}

body > div.centeredMain > div.errorPage h2 {
	align-self: center;
}

input[type=number], input[type=text], input[type=password], input[type=email] {
	width: 200px;
	height: 25px;
	padding: 5px;
	border: 1px solid rgba(166,166,166,1);
}

input[type=submit], input[type=button] {
	width: 150px;
	min-height: 40px;
	padding: 5px 10px 5px 10px;
	border: none;
	border-radius: 7px;
	background-color: rgb(17,160,247);
	color: rgb(255,255,255);
	font-weight: bold;
}

input[type=submit]:hover, input[type=button]:hover {
	background-color: rgb(49, 177, 255);
}

input[type=submit]:active, input[type=button]:active {
	background-color: rgb(16, 141, 217);
	box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.4);
}

textarea {
	padding: 5px;
	min-width: 200px;
	max-width: 200px;
	min-height: 60px;
	max-height: 150px;
	border: 1px solid rgba(166,166,166,1);
}

.loginBlock {
	position: relative;
	top: 100px;
	width: 250px;
	padding: 25px 40px 25px 40px;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius: 20px;
}

body > div.centeredMain > div.centeredMainBlock > form > input[type=submit] {
	margin-top: 15px;
	align-self: center;
}

.homepage, .failPage, .successPage {
	position: relative;
	top: 100px;
	min-width: 500px;
	padding: 25px 40px 25px 40px;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius: 20px;
}

body > div.centeredMain > div.homepage > div {
	margin-right: 200px;
}

.accountState {
	position: relative;
	top: 100px;
	min-width: 500px;
	padding: 25px 40px 25px 40px;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius: 20px;
}

body > div.centeredMain > div.accountState > div.transfersFormBlock > form > input[type=submit] {
	margin-top: 15px;
	align-self: center;
}

.error {
	display: inline-block;
	color: rgb(255,0,0);
}

.hidden {
	display: none;
}
